*{
    margin: 0;
}
body{
    background-color: #F9C437;
    box-sizing: border-box;
}
html{
    scroll-snap-type: y mandatory;
}
.scroll{
}
nav{
    height: 10vh;
    background-color: rgb(255, 255, 255);
    img{
        height: 90%;
    }
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    div{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.container{
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}